@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';

.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.coolStuffWrapper {
  margin-top: 20px;
}

.coolStuffBtn {
  background-color: red;
  color: white;
  display: block;
  margin: auto;
}

.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: 15px auto 20px auto;
  width: 60%;
}